body {
    background: url(../img/Fondo3.png);
     font-family: Arial, Helvetica, sans-serif; 
     width: 50%;
	height: 50%;
	font-family: 'Open Sans', sans-serif;
    background-size: cover;
    position: absolute;
	top: 20%;
	left: 38%;
}

#main-container {
    margin: 150px auto;
    width: 600px;
}  

table {
        background-color: #9c9c9c;
        width: 50%;
        border-collapse: collapse;
        text-align: center;
    }

th, td{
    
    padding: 10px;
   
}

thead {
    background-color: #3f0e5f;
    border-bottom: solid 10px #632288;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: #9f75a5;
    color: white;
}

img {
	width: 130px;
    height: 130px;
    border-radius: 50%;
    top:  -120px;
    position: absolute;
    left: calc(26% - 74px);
}

a {
    display:block;
    padding: 10px;    
    width: 48%;
    text-align:center;
    background-color: #3f0e5f;
    text-decoration: none;
    color: rgb(247, 242, 242);
	border-radius: 6px;
	transform: translate(0%); 
    margin-top: 20px;
 
}
